<h1>Your Workout Schedual</h1>
<h2>You have completed {{workoutnum}} exercizes.</h2>


<form id="woNew" action="/insert" >
	<fieldset>
		<label>Name:
			<input type="text" name="Name" id="Name">
		</label>
	
		<label>Reps:
			<input type="number" name="Reps" id="Reps">
		</label>
	
		<label>Weight:
			<input type="number" name="Weight" id="Weight">
		</label>
	
		<label>Date
			<input type="date" name="Date" id="Date">
		</label>
	
		<label>Lbs:1, Kg:0
			<input type="boolean" name="Lbs" id="Lbs">
		</label>
		<input type="Submit" name="Submit" value="Add Session">
	</fieldset>
</form>


<table id="worktable">
	<tr>
		<th /*style = "display:none"*/>Id</th>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Lbs(1)/Kg(0)</th>
	</tr>
	{{#each workout}}
	<tr id="serverTable">
		<td /*style = "display:none"*/>{{this.id}}</td>
		<td>{{this.name}}</td>
		<td>{{this.reps}}</td>
		<td>{{this.weight}}</td>
		<td>{{this.date}}</td>
		<td>{{this.lbs}}</td>
		<td><input type="button" value="Update" onclick="updateRow('worktable',this,{{this.id}})"></td>
		<td><input type="button" value="Delete" onclick="deleteRow('worktable',this,{{this.id}})"/></td>
	</tr>
	<tr id="ajaxupdate" style="display:none">
		<td><label>Name:
				<input type="text" name="Name" id="Name" value="{{this.name}}">
			</label></td>
	
			<td><label>Reps:
				<input type="number" name="Reps" id="Reps" value="{{this.reps}}">
			</label></td>
	
			<td><label>Weight:
				<input type="number" name="Weight" id="Weight" value="{{this.weight}}">
			</label></td>
	
			<td><label>Date
				<input type="date" name="Date" id="Date" value="{{this.date}}">
			</label></td>
	
			<td><label>Lbs:1, Kg:0
				<input type="boolean" name="Lbs" id="Lbs" value="{{this.lbs}}">
			</label></td>
			<td><input type="button" id="update" value="Update" onclick="updateRow('worktable',this,{{this.id}})"/></td>
		</form></td>
	</tr>
	
	{{/each}}
</table>

